<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dazze.navigationforblind">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="63cfe0149022d302d1f2ce09919b176c" />

    <uses-feature
        android:name="andrdoi.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NPJoinActivity" />
        <activity android:name=".NPLoginActivity" />
        <activity android:name=".NUJoinActivity" />
        <activity android:name=".NConnectActivity" />
        <activity android:name=".NMapViewActivity" />
        <activity android:name=".NMakeWay" />
        <activity android:name=".NUShowWayActivity" />
        <activity android:name=".NULoginActivity" />
        <activity android:name=".NUIntroMenuActivity" />
        <activity android:name=".NUSelectWayActivity" />
        <activity android:name=".NUFavoritesWayActivity" />
        <activity android:name=".NIntroActivity">

        </activity>
    </application>

</manifest>